body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#pageHome {
    width: 100vw;
    height: 100vh;
}

#pageHome img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#menuBar {
    width: 100vw;
    height: 80px;
    background: #222F3E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#menuBar > img {
    width: 40px;
    height: auto;
    position: absolute;
    display: none;
}

#menuBarList {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    display: flex;
}

#menuBarList > div {

}

#menuBarList > div:hover > div {
    animation: 5s lineAni infinite;
}

@keyframes lineAni {
    0% {
        background: #4CD137;
        width: 0;
    }
    100% {
        background: #4CD137;
        width: 100%;
    }
}

#menuBarList > div > a {
    color: #F5F6FA;
    text-decoration: none;
    margin: 15px;
    font-family: 'Scope One', serif;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

#menuBarList > div > div {
    width: 100%;
    height: 3px;
    background: #222F3E;
}


#pageHome > div {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 130px;
    left: 100px;
    /*border: 1px solid red;*/
}

#pageHome > div > h1 {
    margin: 0;
    padding: 0;
}

#pageHome > div > p {
    margin-top: 60px;
}

.name {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 96px;
    color: #F5F6FA;
}

#softwareEngineer {
    font-family: 'Scope One', serif;
    color: #F5F6FA;
    font-size: 27px;
    position: relative;
    bottom: 40px;
    letter-spacing: 20px;
}


/*===================================About Page===================================*/

/*+++++background img+++++*/
#pageAbout {
    width: 100vw;
    height: 100vh;
    /*background: #222F3E;*/
    position: absolute;
    top: 100vh;
}

#pageAbout > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
}

/*+++++Left side+++++*/
#pageAbout > aside:nth-child(2) {
    width: 35%;
    height: 85%;
    /*background-color: aqua;*/
    position: absolute;
    top: 80px;
}

#pageAbout > aside:nth-child(2) > img {
    width: 350px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 0;
}

#pageAbout > aside:nth-child(2) > article {
    width: fit-content;
    height: 35px;
    /*background-color: darkblue;*/
    position: absolute;
    bottom: 30px;
    right: 60px;
}

#pageAbout > aside:nth-child(2) > article > a {
    text-decoration: none;
}

#pageAbout > aside:nth-child(2) > article > a > img {
    height: 100%;
    width: auto;
    margin-right: 25px;
    opacity: 60%;
}

.imgFb:hover {
    animation: 1s imgAni;
}

.imgLinkedin:hover {
    animation: 1s imgAni;
}

.imgTwitter:hover {
    animation: 1s imgAni;
}

.imgInstagram:hover {
    animation: 1s imgAni;
}

@keyframes imgAni {
    0% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

/*+++++Right side+++++*/
#pageAbout > aside:nth-child(3) {
    width: 50%;
    height: 75%;
    /*background-color: aqua;*/
    position: absolute;
    top: 80px;
    right: 130px;
}

#pageAbout > aside:nth-child(3) > h1 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 96px;
    color: #F5F6FA;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
}

#pageAbout > aside:nth-child(3) > p {
    font-family: 'Scope One', serif;
    font-size: 20px;
    color: #F5F6FA;
}

#pageAbout > aside:nth-child(3) > .personalInfo {
    margin-top: 50px;
    width: 100%;
    height: 30%;
    /*background-color: #222F3E;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#pageAbout > aside:nth-child(3) > .personalInfo > div > p {
    font-family: 'Scope One', serif;
    font-size: 20px;
    color: #F5F6FA;
}

/*+++++Button+++++*/
.aboutPageButton {
    position: absolute;
    bottom: 12px;
}

.aboutPageButton > button {
    width: 150px;
    height: 50px;
    background: #4cd137b3;
    border: 0;
    border-radius: 5%;
    margin-right: 15px;
}

.aboutPageButton > button > a {
    font-family: 'Scope One', serif;
    font-size: 20px;
    color: #F5F6FA;
    text-decoration: none;
}

.aboutPageButton button:hover {
    background-color: #4CD137;
}

/*.aboutPageButton button:hover a {
    color: #4CD137;
}*/


/*===================================Education Page===================================*/

/*+++++Background+++++*/
#pageEducation {
    width: 100vw;
    height: 100vh;
    background-color: #222F3E;
    position: absolute;
    top: 200vh;
}

#pageEducation > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*opacity: 30%;*/
}

/*+++++Title+++++*/
#titleEdu {
    width: fit-content;
    height: fit-content;
    /*background-color: darkblue;*/
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

#titleEdu > h1 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 96px;
    color: #F5F6FA;
    margin: 0;
}

/*+++++Education info+++++*/
#EducationInfo {
    width: 70%;
    height: 60%;
    /*background: green;*/
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

#EducationInfo > div {
    /*border: 1px solid red*/;
}

#EducationInfo > .infoLeftside {
    padding-right: 30px;
}

#EducationInfo > .infoRightside {
    padding-left: 30px;
}

#EducationInfo > div > p {
    font-family: 'Scope One', serif;
    font-size: 20px;
    color: #F5F6FA;
}

#EducationInfo > .infoLeftside > p {
    text-align: right;
}

#EducationInfo > div > .eduLevel {
    color: #4CD137;
}


/*===================================Skill Page===================================*/

/*+++++Background+++++*/
#pageSkill {
    width: 100vw;
    height: 100vh;
    background: #222F3E;
    position: absolute;
    top: 300vh;
}

#pageSkill > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 45%;
}

/*+++++Title+++++*/
#titleSkill {
    width: fit-content;
    height: fit-content;
    /*background-color: darkblue;*/
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

#titleSkill > h1 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 96px;
    color: #F5F6FA;
    margin: 0;
}

/*+++++Skills+++++*/
#skills {
    width: 90%;
    height: 50%;
    /*background: #222F3E;*/
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row: fit-content;
    grid-gap: 0px;
}

#skills > div {
    /*border: 1px solid red;*/
}

#skills > div > .bar {
    width: 100%;
    height: 2px;
    background: #353b48;
    margin-top: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 0 10px #2187e7b3;
}

/*+++++Skills Info Left+++++*/
.skillInfoLeft > p {
    text-align: right;
    font-family: 'Scope One', serif;
    font-size: 20px;
    color: #F5F6FA;
    padding-right: 20px;
}

/*+++++Skills Info Right+++++*/
.skillInfoRight > p {
    font-family: 'Scope One', serif;
    font-size: 20px;
    color: #F5F6FA;
    padding-left: 20px;
}


/*+++++Skills Info Center(bar)+++++*/
.javaBar {
    width: 70%;
    height: 2px;
    background: #4CD137;
    animation: 2s javaAni;
}

@keyframes javaAni {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}


.javafxBar {
    width: 80%;
    height: 2px;
    background: #4CD137;
    animation: 2s javafxAni;
}

@keyframes javafxAni {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}


.htmlBar {
    width: 95%;
    height: 2px;
    background: #4CD137;
    animation: 2s htmlAni;
}

@keyframes htmlAni {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}


.cssBar {
    width: 91%;
    height: 2px;
    background: #4CD137;
    animation: 2s cssAni;
}

@keyframes cssAni {
    0% {
        width: 0;
    }
    100% {
        width: 91%;
    }
}


.photoshopBar {
    width: 40%;
    height: 2px;
    background: #4CD137;
    animation: 2s photoshopAni;
}

@keyframes photoshopAni {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}


/*+++++Skills Icons+++++*/
#skillIcons {
    width: fit-content;
    height: 70px;
    /*background: darkblue;*/
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
}

#skillIcons > img {
    height: 100%;
    margin-right: 35px;
}


/*===================================Projects Page===================================*/

/*+++++Background+++++*/
#pageProjects {
    width: 100vw;
    height: 100vh;
    background: #222F3E;
    position: absolute;
    top: 400vh;
}

#pageProjects > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

/*+++++Title+++++*/
#titleProject {
    width: fit-content;
    height: fit-content;
    /*background-color: darkblue;*/
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

#titleProject > h1 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 96px;
    color: #F5F6FA;
    margin: 0;
}

/*+++++Projects slider+++++*/
#projectSlide {
    width: fit-content;
    height: fit-content;
    /*background: aqua;*/
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#projectSlide > div {
    position: relative;
    width: 250px;
    height: 250px;
    /*background: yellow;*/
    border: 1px solid white;
    margin-right: 10px;
}
.img-box {
    width: 100%;
    height: 100%;
    background: #0c63e4;
    position: absolute;
}
.img-box img {
    width: 100%;
    height: 100%;
}
.img-top {
    animation: slider1 5s ease-in-out infinite;
}
@keyframes slider1 {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/*+++++ slider 01 +++++*/
/*#projectSlide > #slide1 {
    background-image: url("../img/java-img.jpg");
    background-size: 100% 100%;
    animation: slider1 2s infinite;
}

@keyframes slider1 {
    0% {
        background-image: url("../img/javaFx - img.png");
        background-size: 100% 100%;
    }
    50% {
        background-image: url("../img/javaFx - img.png");
        background-size: 100% 100%;
    }
}*/

/*+++++ slider 02 +++++*/
/*#projectSlide > #slide2 {
    background-image: url("../img/html5-1.jpg");
    background-size: 100% 100%;
    animation: slider2 2s infinite;
}

@keyframes slider2 {
    50% {
        background-image: url("../img/css - img.jpg");
        background-size: 100% 100%;
    }
    100% {
        background-image: url("../img/css - img.jpg");
        background-size: 100% 100%;
    }
}*/

/*+++++ See more +++++*/
#seemore {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 600%);
    text-decoration: none;
}

#seemore > p {
    font-family: 'Scope One', serif;
    font-size: 20px;
    color: #F5F6FA
}

#seemore > p:hover {
    animation: seemoreAni 2s;
}

@keyframes seemoreAni {
    100% {
        color: #4CD137;
    }
}

/*+++++ clients-project-experience +++++*/
#counts {
    width: 500px;
    height: 60px;
    /*background: green;*/
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
}

#counts > div {
    /*border: 1px solid red;*/
}

#counts > div > h1 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 50px;
    color: #F5F6FA;
    margin: 0;
    text-align: center;
}

#counts > div > p {
    font-family: 'Scope One', serif;
    color: #4CD137;
    margin: 0;
    text-align: center;
}

.seperateBar {
    border-right: 2px solid #4CD137;
}


/*===================================Contact Page===================================*/

/*+++++Background+++++*/
#pageContact {
    width: 100vw;
    height: 100vh;
    background: #222F3E;
    position: absolute;
    top: 500vh;
}

#pageContact > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

/*+++++Title+++++*/
#titleContact {
    width: fit-content;
    height: fit-content;
    /*background-color: darkblue;*/
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

#titleContact > h1 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 85px;
    color: #F5F6FA;
    margin: 0;
}

/*+++++ Contact content+++++*/
#contactContent {
    width: 70%;
    height: 50%;
    /*background: #353b48;*/
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
}

#contactContent > aside {
    /*border: 1px solid red;*/
}

/*+++++ Left Side +++++*/
#leftAside > p {
    font-family: 'Scope One', serif;
    font-size: 15px;
    color: #F5F6FA;
    margin: 0;
}

#leftAside > .contactTopic {
    color: #4CD137;
    font-size: 20px;
    margin-top: 20px;
}

/*+++++ SocalMedia Images +++++*/
#leftAside > .socialMedia {
    height: 40px;
    width: 50%;
    /*background: darkblue;*/
    position: absolute;
    bottom: 20px;
}

#leftAside > .socialMedia > a {
    text-decoration: none;
}

#leftAside > .socialMedia > a > img {
    height: 100%;
    width: auto;
    margin-right: 25px;
    opacity: 60%;
}

/*+++++ Right Side +++++*/
#rightAside {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#rightAside > div {
    /*border: 1px solid aqua;*/
}

#rightAside > .row1 > input {
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Scope One', serif;
    font-size: 15px;
}

#rightAside > .row2 {
    grid-column: 1/3;
}

#rightAside > .row2 > input {
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Scope One', serif;
    font-size: 15px;
}

#rightAside > .row3 {
    grid-column: 1/3;
    grid-row: 3/6;
}

#rightAside > .row3 > input {
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Scope One', serif;
    font-size: 15px;
}

#rightAside > .row3 > input::-webkit-input-placeholder {

}

#rightAside > .row4 {
    grid-column: 1/3;
}

#rightAside > .row4 > button {
    width: 100%;
    height: 100%;
    background: #4cd137b3;
    font-family: 'Scope One', serif;
    font-size: 15px;
    color: #F5F6FA;
    border: 0;
}

#rightAside > .row4 > button:hover {
    background-color: #4CD137;
}

/*+++++ Footer +++++*/
#footer {
    width: 100%;
    height: 40px;
    background: #222F3E;
    position: absolute;
    bottom: 0;
}

#footer > p {
    font-family: 'Scope One', serif;
    font-size: 15px;
    color: #F5F6FA;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*==================================Responsive==================================*/
/*==============================================================================*/


/*++++++++++++ max-width 320 ++++++++++++*/
@media all and (max-width: 425px) {

    /*===================================Home Page===================================*/
    #menuBar {
        height: 54px;
    }

    #menuBarList {
        display: none;
    }

    #menuBar > img {
        display: inline;
        width: 30px;
        height: auto;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #pageHome > div {
        width: max-content;
        height: max-content;
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

    }

    #pageHome > div > h1 {
        font-size: 40px;
    }

    #pageHome > div > p {
        font-size: 15px;
        letter-spacing: 10px;
        position: relative;
        bottom: 30px;
        margin-top: 40px;
    }


    /*===================================About Page===================================*/
    #pageAbout {
        height: 160vh;
    }

    #pageAbout > aside:nth-child(2) {
        width: 210px;
        height: 300px;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        /*background: aqua;*/
    }

    #pageAbout > aside:nth-child(2) > img {
        width: 200px;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    #pageAbout > aside:nth-child(2) > article {
        width: max-content;
        height: 22px;
        /*background: darkblue;*/
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #pageAbout > aside:nth-child(2) > article > a > img {
        height: 100%;
        width: auto;
    }

    #pageAbout > aside:nth-child(3) {
        width: 90vw;
        height: 400px;
        /*border: 1px solid red;*/
        position: absolute;
        top: 355px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #pageAbout > aside:nth-child(3) > h1 {
        font-size: 50px;
        width: max-content;
        height: max-content;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }

    #pageAbout > aside:nth-child(3) > p {
        width: 100%;
        height: max-content;
        /*background: aqua;*/
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }

    #pageAbout > aside:nth-child(3) > .personalInfo {
        /* background-color: #222F3E; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #pageAbout > aside:nth-child(3) > .personalInfo > div {
        width: 100%;
        height: max-content;
        margin-bottom: 15px;
        /*background: green;*/
    }

    #pageAbout > aside:nth-child(3) > .personalInfo > div > p {
        font-size: 15px;
        width: max-content;
        height: max-content;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }

    #pageAbout > aside:nth-child(3) > .personalInfo > div:nth-child(2) > p:nth-child(2) {
        text-decoration: none;
    }

    .aboutPageButton {
        width: max-content;
        height: max-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .aboutPageButton > button {
        width: 100px;
        height: 30px;
    }

    .aboutPageButton > button:nth-child(2) {
        margin-right: 0;
    }

    .aboutPageButton > button > a {
        font-size: 15px;
    }

    /*===================================Education Page===================================*/
    #pageEducation {
        top: 260vh;
        height: 95vh;
    }

    #pageEducation > img {
        opacity: 30%;
    }

    #titleEdu {
        width: 90%;
        height: max-content;
        /*border: 1px solid red;*/
        position: absolute;
        top: 20px;
    }

    #titleEdu > h1 {
        font-size: 50px;
        width: max-content;
        height: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    #EducationInfo {
        top: 60px;
        width: 90%;
        height: 295px;
    }

    #EducationInfo > div > p {
        font-size: 12px;
    }

    /*===================================Skill Page===================================*/
    #pageSkill {
        top: 355vh;
        height: 95vh;
    }

    #titleSkill {
        width: max-content;
        height: max-content;
        /*border: 1px solid red;*/
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #titleSkill > h1 {
        font-size: 50px;
    }

    #skills {
        top: 50px;
        height: 245px;
    }

    .barMain {
        width: 120px;
    }

    .skillInfoLeft > p {
        font-size: 13px;
    }

    .skillInfoRight > p {
        font-size: 13px;
    }

    #skillIcons {
        height: 40px;
        bottom: 65px;
    }

    #skillIcons > img {
        margin-right: 15px;
    }

    /*===================================Project Page===================================*/
    #pageProjects {
        top: 450vh;
        height: 95vh;
    }

    #pageProjects > img {
        opacity: 10%;
    }

    #titleProject {
        top: 20px;
    }

    #titleProject > h1 {
        font-size: 50px;
    }

    #projectSlide {
        display: block;
        position: absolute;
        top: 200px;
    }

    #projectSlide > div {
        width: 100px;
        height: 100px;
        margin-right: 0;
    }

    #slide1 {
        margin-bottom: 10px;
    }

    #projectSlide > #slide1 {
        animation: slider1 5s infinite;
    }

    #projectSlide > #slide2 {
        animation: slider2 5s infinite;
    }

    #seemore {
        position: absolute;
        top: 222px;
    }

    #seemore > p {
        font-size: 15px;
        width: max-content;
        height: max-content;
    }

    #counts {
        width: 100vw;
        left: -13px;
        bottom: 40px;
    }

    #counts > div > h1 {
        font-size: 35px;
    }

    #counts > div > p {
        font-size: 13px;
    }

    /*===================================Contact Page===================================*/
    #pageContact {
        top: 545vh;
        height: 95vh;
    }

    #pageContact > img {
        opacity: 1%;
    }

    #titleContact {
        top: 20px;
    }

    #titleContact > h1 {
        font-size: 45px;
    }

    #contactContent {
        display: block;
    }

    #leftAside {
        position: absolute;
        top: 113px;
        /*border: 1px solid red;*/
        height: 200px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #leftAside > p {
        font-size: 10px;
        text-align: center;
    }

    #leftAside > .contactTopic {
        font-size: 15px;
    }

    #leftAside > .socialMedia {
        height: 20px;
        width: max-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    #leftAside > .socialMedia > a > img {
        margin-right: 10px;
    }

    #contactContent > #rightAside {
        position: absolute;
        top: -77px;
        left: 0;
        right: 0;
        margin: auto;
        display: grid;
        grid-gap: 10px;
    }

    #contactContent > #rightAside > div > input {
        font-size: 15px;
        border-radius: 0;
        border: 0;
    }

    #footer {
        height: 20px;
    }

    #footer > p {
        font-size: 8px;
    }
}


/*++++++++++++ width 425 - 768 (TAB) ++++++++++++*/
@media all and (min-width: 425px) and (max-width: 768px) {

    /*===================================Home Page===================================*/
    #menuBar {
        height: 70px;
    }

    #menuBarList {
        right: 0;
        left: 0;
        margin: auto;
    }

    #menuBarList > div > a {
        font-size: 18px;
    }

    #menuBar > img {
        display: none;
    }

    #pageHome > div {
        width: max-content;
        height: max-content;
        position: absolute;
        top: 180px;
        left: 60px;
    }

    #pageHome > div > h1 {
        font-size: 80px;
    }

    #pageHome > div > p {
        font-size: 18px;
        position: relative;
        bottom: 40px;
        letter-spacing: 20px;
        margin-top: 50px;
    }


    /*===================================About Page===================================*/
    #pageAbout > aside:nth-child(2) {
        top: 72px;
        left: 40px;
        width: 315px;
        height: 470px;
    }

    #pageAbout > aside:nth-child(2) > img {
        width: 315px;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    #pageAbout > aside:nth-child(2) > article {
        width: max-content;
        height: 35px;
        /*background: darkblue;*/
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    #pageAbout > aside:nth-child(3) {
        right: 5px;
        height: 73%;
    }

    #pageAbout > aside:nth-child(3) > h1 {
        font-size: 80px;
    }

    #pageAbout > aside:nth-child(3) > p {
        font-size: 18px;
    }

    #pageAbout > aside:nth-child(3) > .personalInfo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #pageAbout > aside:nth-child(3) > .personalInfo > div {
        width: 100%;
        height: max-content;
        margin-bottom: 15px;
    }

    #pageAbout > aside:nth-child(3) > .personalInfo > div > p {
        font-size: 18px;
    }

    #pageAbout > aside:nth-child(3) > .personalInfo > div:nth-child(2) > p:nth-child(2) {
        text-decoration: none;
    }

    .aboutPageButton > button {
        width: 140px;
        height: 41px;
    }

    .aboutPageButton > button:nth-child(2) {
        margin-right: 0;
    }

    .aboutPageButton > button > a {
        font-size: 18px;
    }


    /*===================================Education Page===================================*/
    #pageEducation > img {
        /*opacity: 30%;*/
    }

    #titleEdu > h1 {
        font-size: 80px;
    }

    #EducationInfo {
        top: 120px;
        width: 90%;
        height: 295px;
    }

    #EducationInfo > div > p {
        font-size: 18px;
    }


    /*===================================Skill Page===================================*/
    #titleSkill > h1 {
        font-size: 80px;
    }

    .skillInfoLeft > p {
        font-size: 18px;
    }

    .skillInfoRight > p {
        font-size: 18px;
    }

    #skillIcons {
        height: 55px;
    }


    /*===================================Project Page===================================*/
    #pageProjects > img {
        /*opacity: 10%;*/
    }

    #titleProject > h1 {
        font-size: 80px;
    }


    /* ===================================Contact Page===================================*/
    #pageContact > img {
        /*opacity: 1%;*/
    }

    #titleContact > h1 {
        font-size: 75px;
    }

    #contactContent {
        width: 90%;
    }

    #leftAside > p {
        font-size: 15px;
    }

    #leftAside > .contactTopic {
        font-size: 18px;
    }

    #leftAside > .socialMedia {
        height: 36px;
    }


    #contactContent > #rightAside > div > input {
        font-size: 18px;
    }

    #footer > p {
        font-size: 15px;
    }
}


/* Preloader */
.handle-preloader {
    background: #222F3E;
}

.preloader-close {
    color: #222F3E;
}

.header-top {
    background: #222F3E;
}

.handle-preloader {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    display: -ms-flexbox;
    height: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.handle-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

.handle-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    height: 150px;
    margin: 0 auto 45px auto;
    width: 150px;
}

.handle-preloader .animation-preloader .txt-loading {
    text-align: center;
    user-select: none;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    letter-spacing: 15px;
    display: inline-block;
    position: relative;
    font-size: 27px;
    line-height: 60px;
    text-transform: uppercase;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    animation-delay: 0.2s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    animation-delay: 0.4s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    animation-delay: 0.6s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    animation-delay: 0.8s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    animation-delay: 1s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    animation-delay: 1.2s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
    animation-delay: 1.4s;
}

.handle-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.preloader .loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading {
    color: #fff;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
    color: #fff;
}

.handle-preloader .animation-preloader .spinner {
    border: 3px solid #4CD137;
    border-top-color: #4cd13791;
}

/* AnimaciÃ³n del preloader */
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes letters-loading {
    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .handle-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }
}

@media screen and (max-width: 500px) {
    .handle-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    .handle-preloader .animation-preloader .txt-loading .letters-loading {
        font-size: 40px;
        letter-spacing: 10px;
    }
}




